@media screen and (max-width: 2560px) {
  .tasks:before {
    width: 1717px;
    top: -78%;
    left: 38%;
  }
  .check_in_bg{
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .tasks:before{
    top: -57%;
    left: -22%;

  }
  .check_in_bg{
    height: 67rem;
  }
}
@media (max-width: 1280px) {
  .tasks:after{
    max-width: 750px;
  }
  .tasks:before{
    top: -40%;
  }
}
@media (max-width: 1024px) {
  .logo a .logo_icon{
    max-width: 69px;
  }
  .font-section .item .title{
    font-size: 50px;
  }
  .row.items-fonts.justify-content-between.pb-5{
    justify-content: space-around!important;
  }
  .phones .item-phone{
    margin: 0 auto 5rem auto;
  }
}

@media (max-width:768px) {
  .banner img{
    max-width: 500px;
    margin-top: 3rem;
  }
  .logo a{
    justify-content: center;
  }
  .font-section .item{
    margin: 0 auto;
  }
  .font-section{
    img{
      display: block;
      margin: 0 auto;
    }
  }
  .items-fonts .item{
    justify-content: center;
    &:after{
      display: none;
    }
  }
  .phones .item-phone{
    margin: 2rem;
  }
  .phones{
    .row{
      justify-content: center;
    }
  }
}

@media (max-width: 425px) {
  .banner img{
    max-width: 300px;
    margin-top: 1rem;
  }
  .logo a .logo_icon{
    max-width: 80px;
  }
  .logo a .logo_name{
    max-width: 250px;
  }
  .font-section{
    img{
      display: block;
      margin: 0 auto;
    }
  }
  .items-fonts .item:after{
    display: none;
  }
  .items-fonts{
    .item-content{
      width: 100%;
    }
  }
  .wraper-circle{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .check_in .item .content{
    padding: 0 20px;
  }

  .check_in .item .title{
    font-size: 40px;
    margin-bottom: 2rem;
    img{
      max-width: 80px;
      width: 100%;
    }
  }
  .phones .item-phone{
    margin: 0 auto 5rem auto;
  }
  .development{
    h2{
      font-size: 45px;
    }
  }
  footer{
    h2{
      font-size: 45px;
    }
  }
}

@media all and (max-width: 375px){
  .banner img{
    margin-top: 1rem;
    max-width: 210px;
  }
  .logo a .logo_icon{
    max-width: 50px;
  }
  .logo a .logo_name{
    max-width: 180px;
  }
  .logo .description{
    font-size: 23px;
  }
  .font-section .item .title{
    font-size: 48px;
  }
  .font-section .item .description{
    margin-top: 20px;
    text-align: center;
  }
  .font-section .item .app-icon a{
    max-width: 130px;
  }
  .items-fonts .item:after{
    transform: rotate(90deg);
    top: 70%;
  }
  .item-content{
    width: 100%;
  }
  .item-content .content .subtitle{
    font-size: 38px;
  }
  .item-content .title{
    margin-top: 5rem;
  }
  .wraper-circle{
    flex-wrap: wrap;
    justify-content: center;
  }
  .wraper-circle a{
    margin-right: 1rem;
    margin-top: 2rem;
  }
  .phone_bg{

  }
  img.m-lg-5{
    width: 100%;
    max-width: 77px;
    font-size: 24px;
  }
  .title.wow.animate__.animate__fadeIn.animated {
    font-size: 25px;
  }
  .check_in .item .content{
    padding: 0 10px;
  }
  .development{
    h2{
      font-size: 32px;
    }
  }
  footer{
    h2{
      font-size: 32px;
    }
  }
  .phones .item-phone{
    margin: 0 auto 20px auto;
  }
  .tasks:before{
    display: none;
  }
  .tasks:after{
    display: none;
  }
}

